## Notebook for transforming raw cpdata to Mergable data

### Filter cpdata.csv to MergeFileCrop.cv
### Filter fertilizer.csv to MergerFileFert.csv

In [1]:
import pandas as pd

In [2]:
# Reading the data 

crop_data_path = 'cpdata.csv'
fertilizer_data_path = 'fertilizer.csv'

crop = pd.read_csv(crop_data_path)
fert = pd.read_csv(fertilizer_data_path)OneDrive/Desktop/Crops/fertilizer.csv

In [13]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
fert.head()

Empty DataFrame
Columns: [Unnamed: 0, Crop, N, P, K, pH, soil_moisture]
Index: []

In [14]:
# Function for lowering the cases
def change_case(i):
    i = i.replace(" ", "")
    i = i.lower()
    return i

In [15]:
fert['Crop'] = fert['Crop'].apply(change_case)
crop['label'] = crop['label'].apply(change_case)

In [16]:
#make some changes in ferttilizer dataset

fert['Crop'] = fert['Crop'].replace('mungbeans','mungbean')
fert['Crop'] = fert['Crop'].replace('lentils(masoordal)','lentil')
fert['Crop'] = fert['Crop'].replace('pigeonpeas(toordal)','pigeonpeas')
fert['Crop'] = fert['Crop'].replace('mothbean(matki)','mothbeans')
fert['Crop'] = fert['Crop'].replace('chickpeas(channa)','chickpea')

In [17]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [18]:
crop.tail()

      temperature   humidity        ph   rainfall       label
3095    25.287846  89.636679  6.765095  58.286977  watermelon
3096    26.638386  84.695469  6.189214  48.324286  watermelon
3097    25.331045  84.305338  6.904242  41.532187  watermelon
3098    26.897502  83.892415  6.463271  43.971937  watermelon
3099    26.986037  89.413849  6.260839  58.548767  watermelon

In [19]:
crop_names = crop['label'].unique()
crop_names

array(['rice', 'wheat', 'mungbean', 'tea', 'millet', 'maize', 'lentil',
       'jute', 'coffee', 'cotton', 'groundnut', 'peas', 'rubber',
       'sugarcane', 'tobacco', 'kidneybeans', 'mothbeans', 'coconut',
       'blackgram', 'adzukibeans', 'pigeonpeas', 'chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [20]:
fert.head()

Empty DataFrame
Columns: [Unnamed: 0, Crop, N, P, K, pH, soil_moisture]
Index: []

In [21]:
del fert['Unnamed: 0']

In [22]:
crop_names_from_fert = fert['Crop'].unique()
crop_names_from_fert

array([], dtype=object)

In [23]:
for i in crop_names_from_fert:
    print(crop[crop['label'] == i])

In [24]:
crop['label']

0             rice
1             rice
2             rice
3             rice
4             rice
           ...
3095    watermelon
3096    watermelon
3097    watermelon
3098    watermelon
3099    watermelon
Name: label, Length: 3100, dtype: object

In [25]:
extract_labels = []
for i in crop_names_from_fert:
    if i in crop_names:
        extract_labels.append(i)

In [26]:
# using extract labesl on crop to get all the data related to those labels
new_crop = pd.DataFrame(columns = crop.columns)
new_fert = pd.DataFrame(columns = fert.columns)

In [27]:
for label in extract_labels:
    new_crop = new_crop.append(crop[crop['label'] == label])

In [28]:
for label in extract_labels:
    new_fert = new_fert.append(fert[fert['Crop'] == label].iloc[0])

In [29]:
new_crop

Empty DataFrame
Columns: [temperature, humidity, ph, rainfall, label]
Index: []

In [30]:
new_fert

Empty DataFrame
Columns: [Crop, N, P, K, pH, soil_moisture]
Index: []

In [31]:
new_crop.to_csv('MergeFileCrop.csv')
new_fert.to_csv('../Data-raw/FertilizerData.csv')

OSError: Cannot save file into a non-existent directory: '..\Data-raw'